#audio-wrapper, #btn-wrapper{
    width: 400px;
    margin: 40px auto;
}

#banner{
    height: 400px;
    width: 400px;
    background: url('https://m.media-amazon.com/images/I/81mNRm3F6KL._SS500_.jpg');
    border-radius: 10px;
    background-repeat: no-repeat;
    margin: 0 auto 20px auto;
}

#progress-bar{
    width: 400px;
    height: 15px;
    border-radius: 10px;
    background-color: grey;
    margin: 0 auto;
}

#progress{
    width: 0%;
    height: 15px;
    background-color: rgb(0, 183, 255);
    border-radius: 10px;
}